@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-light-color: #E4E6EB;
  --bg-dark-color: #18191A;

  --bg-card--light-color: #E4E6EB;
  --bg-card--dark-color: #3A3B3C;

  --bg-text--light-color: #18191A;
  --bg-text--dark-color: #E4E6EB;

  --title-light-color: #18191A;
  --title-dark-color: #a955f7;

  --border-light-color: #242526;
  --border-dark-color: #a955f7;

  --shadow-light: #3A3B3C;
  --shadow-dark: #a955f7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent-light{
  background-color: var(--bg-light-color);
}

.parent-dark{
  background-color: var(--bg-dark-color);
}

.card-light{
  background-color: var(--bg-card--light-color);
  color: var(--bg-text--light-color);
  border-color: var(--border-light-color);
  box-shadow: 0px 4px 6px -1px var(--shadow-light);
}

.card-dark{
  background-color: var(--bg-card--dark-color);
  color: var(--bg-text--dark-color);
  border-color: var(--border-dark-color);
  box-shadow: 0px 4px 6px -1px var(--shadow-dark);
}

.card-title-light{
  color: var(--title-light-color);
}

.card-title-dark{
  color: var(--title-dark-color);
}